ion-list{
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 10px;
}

img{
    height: 80%vh;
   
    // background-image: url("assets/580b57fcd9996e24bc43c31f.png");
    
}

