
ion-button{
    margin-top: 10px;
    width: 30%;
    display: flex;
    margin-left: 20px;
    
}



 

.btn-acero{
   --background: LightGrey;
}

.btn-water{
  --background: RoyalBlue;
}

.btn-bug{
   --background: YellowGreen;
}

.btn-dragon{
    --background: MediumSlateBlue; 
}
.btn-electric{
    --background: rgb(141, 141, 12);
}

.btn-ghost{
    --background: Purple;
}

.btn-fire{
    --background: Crimson;
}

.btn-fairy{
    --background: rgb(255, 136, 238);
}

.btn-ice{
    --background: AquaMarine;
}

.btn-fighting{
    --background: Firebrick;
}

.btn-normal{
    --background:rgb(116, 116, 121);
}

.btn-grass{
    --background:Lime;
}

.btn-psychic{
    --background:rgb(214, 27, 214);
}

.btn-rock{
    --background:Peru;
}

.btn-sinistro{
    --background:SlateGray;
}

.btn-ground{
    --background:rgb(124, 104, 78);
}

.btn-veneno{
    --background:Mediumpurple;
}

.btn-dark{
    --background:rgb(17, 14, 24);
}